<br>
<br>
<div style="text-align: left">
    <h3>{{title1}}</h3>
    <hr>
    <h6>{{text1}}</h6>
</div>
<br>
<br>
<div style="text-align: right">
    <h3>{{title2}}</h3>
    <hr>
    <h6>{{text2}}</h6>
</div>
