<div class="container">

<h3 class="text-center">Contact us</h3><br />

<div class="row">
  <div class="col-md-8">
      <form action="/post" method="post">
        <input class="form-control" name="name" placeholder="Naam..." /><br />
        <input class="form-control" name="email" placeholder="E-mail..." /><br />
        <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea><br />
        <input class="btn btn-primary" type="submit" value="Send" /><br /><br />
      </form>
  </div>
  <div class="col-md-4">
    <b>Customer service:</b> <br />
    Phone: SOON<br />
    E-mail: <a href="mailto:silvan.paul123@gmail.com">silvan.paul123@gmail.com</a><br />
    <br /><br />
{{g-recaptcha-v2 siteKey=siteKey
                 verified=(action (mut response))}}
  </div>
</div>

</div>
