<div class="list-group hasborder" id="accordionOne">
  <div class="expansion-panels list-group-items">
    <a aria-controls="collapse{{id}}" aria-expanded="false" class="abtn expansion-panels-toggler collapsed" data-toggle="collapse" href="#collapse{{id}}" id="heading{{id}}">
       <h3> <i class="material-icons">code</i> {{title}}</h3>
    </a>
    <div aria-labelledby="heading{{id}}" class="collapse" data-parent="#accordionOne" id="collapse{{id}}">
      <div class="expansion-panels-body">
        {{desc}}
      </div>
    </div>
    </div>
    <hr align="left">
</div>