{{#each model as |item|}}
    <li class="nav-item navli" id="{{item.id}}">
        {{!--{{#link-to "{{link}}" class="nav-link"}}{{item}}{{/link-to}}--}}
        <a class="nav-link abtn" href="{{item.link}}">{{item.item}}</a>
    </li>
{{/each}}

{{yield}}