    <article href="#" data-toggle="modal" data-target="#{{id}}">
        <img src="images/{{img}}" class="img-fluid" alt="Responsive image">
        <br>
        <text>
        <h4><strong>{{title}}</strong></h4>
        <h6>{{text}}</h6>
        </text>
        <br>
        <!--<button href="{{url}}" type="button" class="btn btn-info my-1">meer</button>-->
    </article>