html{
    height: 100%;
    margin: 0;
    padding: 0;
}
app-content{
    display: block;
    width: 100%;
    padding-top: 4.5vh;
}

header{
    position:fixed;
}

gap{
    margin: 10% 0;
    display: block;
}

text{
    display: block;
    margin: 5px;
    padding: 5px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(100% - 90%);
}

.form{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    min-width: 25vw;
    height: auto;
    min-height: 500px;
    border-radius: 2%;
    padding: 3%;
}

.text-btn{
    color: #0051ff;
    font-weight: 500;
    text-decoration: none;
}

.text-btn:hover{
    color: #0051ff;
    font-weight: 500;
    text-decoration: none;
}

.register-img{
    margin: calc(100% - 5%) 0;background-color: #474e5d;padding: 20%;border-radius: 28%;
}

.bg-dark-material{
    background-color: #202124;
    color: #fff;
}

.bg-dark-material hr{
    border-top: 1px solid #3c4043;
    width: 18vw;
    margin-left: 1vw;
}

.fullsection{
    min-height: 100vh;
    height: auto;
    width: 100%;
    padding-top: 10%;
}

.halfsection{
    height: 50vh;
    width: 100%;
}

.section-image{
    background-color: #fff;
    border-radius: 50%;
    padding: 4%;
    width: 32vw;
}

.banner-bg{
    background-image: url("/images/page-banner.png");
    background-size: cover;
}
.list-group-items{
    transition-duration: 0.3s;
    transition-property: background-color, color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    box-shadow: 0px;
    color: #80868b;
    display: block;
    font-size: 0.9375rem;
    line-height: 1.428572;
    min-height: 3rem;
    padding: 0.830357rem 1.5rem;
    position: relative;
}

.expansion-panels{
    color:#80868b;
}
.expansion-panels:focus{
    color:#fafafa;
}

.expansion-panels-toggler:active, .expansion-panels-toggler:focus, .expansion-panels-toggler:hover {
    background-color: rgba(255, 255, 255, 0);
    color: #fafafa;
    text-decoration: none;

}
.abtn {
    color: #80868b;
    text-decoration: none;
}

.abtn:hover {
    color: #80868b;
    text-decoration: none;
}

.abtn:focus {
    color: #fafafa;
    text-decoration: none;
}


.name{
    animation: slideright 235ms cubic-bezier(.4,0,.2,1) forwards,fadein .1s cubic-bezier(.4,0,.2,1) forwards;
    animation-name: slideright, fadein;
    animation-duration: 235ms, 0.1s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
    animation-delay: 0s, 0s;
    animation-iteration-count: 1, 1;
    animation-direction: normal, normal;
    animation-fill-mode: forwards, forwards;
    animation-play-state: running, running;
    text-transform:uppercase;
    font-family: "Roboto Mono",monospace;
}

.logo{
    animation: mioLogo 1.6s steps(96) forwards;
}

.navli > a{
    color: #fff;
}
.nav-link{
    font-size: 20px;
}

.snow{
    background-image: url("/images/snow.png");
    height: 120px;
    width: 100%;
    background-repeat: repeat-x;
    position: absolute;
    bottom: -6vh;
    z-index: 1;
}

.project-container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    height: 80vh;
    margin: 4vh 4.5%;
}

.project-container > * > article{
    height: 23em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
}

.project-container > * > article > img{
    border-radius: 15px 15px 0 0;
}

.carousel-item{
    height: 20em;
    flex-direction: column;
}

@keyframes mioLogo {
    0%{
        background-position: 0 50%;
    }
    100% {
        background-position: 100% 50%
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes panel-slideright {
    0% {
        transform: translateX(-15%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes panel-slideleft {
    0% {
        transform: translateX(15%)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes slideup {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-16px)
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(16px)
    }
}

@keyframes slideright {
    0% {
        transform: translateX(-16px)
    }

    100% {
        transform: translateX(0)
    }
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    50% {
        transform: scale(.99)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        visibility: visible
    }
}

@keyframes scalein {
    0% {
        transform: scale(.85)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes width {
    0% {
        transform: scaleX(0)
    }

    100% {
        transform: scaleX(1)
    }
}

#navigationbar{
    opacity: 1;
    position: fixed;
    top: 0;
    transform: translateY(0%);
    transition: transform .3s cubic-bezier(.4,0,.6,1),opacity 0s .3s;
    width: 100%;
    background-color: #202124;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    height: 72px;
    z-index: 4;
    border-radius: 0;
}

#openhoomanvication
{
  
}