.abtn
{
  color: #59b336 !important;
}

header{
  background-color: #c32d2d !important;
}

.bg-dark-material{
  background-color: #c32d2d !important;
}

.snow
{
  background-image: url(/images/snow_winter.png) !important;
}
