<form {{action "register" user on="submit"}}>
	<div class="input-group mb-3">
		<div class="input-group-prepend"></div>
		{{input value=user.mail class="form-control" placeholder="Email" aria-label="confirm" aria-describedby="basic-addon1" type="email"}}
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend"></div>
		{{input value=user.username class="form-control" placeholder="Username" aria-label="confirm" aria-describedby="basic-addon1" type="text"}}
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend"></div>
		{{input value=user.password class="form-control" placeholder="Wachtwoord" aria-label="confirm" aria-describedby="basic-addon1" type="password"}}
		{{input value=user.confirm class="form-control" placeholder="Bevestig" aria-label="confirm" aria-describedby="basic-addon1" type="password"}}
	</div>
	<h6>Gebruik acht of meer tekens met een combinatie van letters, cijfers en symbolen</h6>
	<div class="row">
		<div class="col align-self-start"><a class="text-btn" href="/login" style="    line-height: 45px;">Of toch inloggen</a></div>
		<div class="col aling-self-end"><button type="submit" class="btn btn-dark"  style="right: 0; position: absolute;" value="Registreer" /></div>
        <input {{action "cancel"}} id="cancel" value="cancel" type="button"/>
	</div>
</form>