<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Silvan Paul - een developer met humor(denkt hij)</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.json">

    {{content-for "head"}}
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/silvanpaul.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}material/css/material.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Roboto+Mono:300,400,700|Roboto+Slab:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link href="{{rootURL}}assets/christmas.css" rel="stylesheet"> in case of christmurgency -->
    <script src='https://www.google.com/recaptcha/api.js'></script>


    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/silvanpaul.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="{{rootURL}}bootstrap/js/bootstrap.min.js"></script>
    <script src="{{rootURL}}material/js/material.min.js"></script>
    <script src="{{rootURL}}javascript/navbar.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
