<script>
  document.getElementById("loadingmsg").innerHTML = randomMsg();
  let loadingmsg[] = ("OWWWWW loading hooman", "Hello is it me your looking for", "dance till you dead", "cheats are in hooman site", "loading data", "hooman silvan is slow");
  function randomMsg(){}
</script>
<style>
  .loading-container{
    background-color: #202124;
    color: #fff;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .loading{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .loading-img
  {
    width: 8vw;
  }
</style>

<div class="loading-container">
  <div class="loading">
    <img class="loading-img" src="images/mountain.gif">
    <h4 id="loadingmsg">Loading...</h4>
  </div>
</div>