<header id="navigationbar" class="navbar navbar-dark bg-dark-material rounded shadow-6">
  {{#link-to "index" class="navbar-brand"}}
    <img class="logo" src="images/logo.png" width="30" height="30" style="margin-right: 1em;"> <span class="name">Silvan Paul</span>
  {{/link-to}}
  <!-- big screen -->
    <nav class="justify-content-end d-none d-sm-block">
        <ul class="nav justify-content-end">
            {{#each model as |item|}}
                {{#if item.isVisible}}
                    <li class="nav-item navli" id="{{item.id}}">
                      {{#link-to item.link class="nav-link abtn"}}
                        {{item.item}}
                        {{/link-to}}
                        {{!-- <a class="nav-link abtn" href="{{item.link}}">{{item.item}}</a> --}}
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </nav>
<button aria-controls="navdrawerRight" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler ml-auto d-block d-sm-none" data-target="#navdrawerRight" data-toggle="navdrawer">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
  </div>
</header>
<!-- mobile menu -->
    <div aria-hidden="true" class="navdrawer navdrawer-right" id="navdrawerRight" tabindex="-1">
        <div class="navdrawer-content">
        <div class="navdrawer-header">
            <a class="navbar-brand px-0" href="javascript:void(0)">Menu</a>
        </div>
        <nav class="navdrawer-nav">
            {{#each model as |item|}}
                {{#if item.isVisible}}
                    <li class="nav-item navli" id="{{item.id}}">
                        {{!-- <a class="nav-link abtn" href="{{item.link}}">{{item.item}}</a> --}}
                         {{#link-to item.link class="nav-link abtn"}}
                        {{item.item}}
                        {{/link-to}}
                    </li>
                {{/if}}
            {{/each}}
        </nav>
       <!-- <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">Navdrawer subheader</p>
        <ul class="navdrawer-nav">
            <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0)"><i class="material-icons mr-3">alarm_on</i> Active with icon</a>
            </li>
            <li class="nav-item">
            <a class="nav-link disabled" href="javascript:void(0)"><i class="material-icons mr-3">alarm_off</i> Disabled with icon</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)"><i class="material-icons mr-3">link</i> Link with icon</a>
            </li>
        </ul> -->
        </div>
    </div>
<!-- end mobile menu -->

<app-content>
    {{outlet}}
</app-content>