<section class="bg-dark-material fullsection">
  <div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-8 col-md-6">
          <h2>Silvan Paul - Developer</h2>
          {{#each model as |expantion|}}
          {{homepage-expansion ExpID=expantion.ExpID icon=expantion.icon title=expantion.title desc=expantion.desc}}
          {{/each}}
        </div>
      <div class="col-sm-4 col-md-6">
        <img class="mw-100" src="images/screen.png">
      </div>
    </div>
  </div>
  <div class="snow d-sm-block d-none"></div>
</section>
<!--
<section class="halfsection" style="position: relative; z-index: 2;">

</section>-->