<br>
<br>
<div class="container center">

    <div class="form align-self-center justify-content-between">
        <gap />
        <form>
        <div class="text-center">
            <a class="navbar-brand " href="/"><img class="logo" src="images/logo_dark.png" width="30" height="30" style="margin-right: 1em;"> <span class="name">Silvan Paul</span></a>
                <br>
            <h3>Inloggen</h3>
            <h5>Log hier in met je account</h5>
            <gap/>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            {{input type="text" class="form-control" placeholder="Username" value=username}}
            </div>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
            </div>
            <gap />
            {{input value=password type="password" class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1"}}
            </div>
        </div>


          <div class="row justify-content-between container">
    <div class="col-4">
      <button class="btn btn-dark" type="button" onclick="window.location.href='/register'" style="padding-left: 1%; padding-right: 1%;">registreer</button>
    </div>
    <div class="col-4 text">
      <button class="btn btn-info my-1" type="button" {{action 'login'}}>Login</button>

    </div>
  </div>
</form>
    </div>
</div>
