<br>
<div class="project-container">
    {{#each model as |article|}}
        {{#if article.isVisible}}
            {{project-article id=article.id img=article.img title=article.title text=article.text url=article.url}}
        {{/if}}
    {{/each}}
</div>
