<div class="container center">
	<div class="form align-self-center justify-content-between row">
		<div class="col-12 col-sm-6 col-md-8">
			<a class="navbar-brand d-sm-block d-none" href="/"><span class="name">Silvan Paul</span></a>
			<br>
			<br>
			<h3>Registreer</h3>
			<h6>meld je hier aan voor een account</h6>
			<gap></gap>
		{{users/register-form user=model}}
		</div>
		<div class="col-6 col-md-4">
			<img class="logo" src="images/logo.png" width="144px" height="144px" class="register-img d-sm-block d-none">
		</div>
	</div>
</div>